apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: postgresqlclusters.postgresql.database.com
spec:
  group: postgresql.database.com
  names:
    plural: postgresqlclusters
    singular: postgresqlcluster
    kind: PostgreSQLCluster
    shortNames:
      - pgcl
      - pgcluster
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                version:
                  type: string
                  default: "14"
                  description: PostgreSQL版本号
                replicas:
                  type: integer
                  minimum: 1
                  maximum: 5
                  default: 1
                storageSize:
                  type: string
                  pattern: '^[1-9][0-9]*Gi$'
                  default: "10Gi"
                storageClassName:
                  type: string
                enableBackup:
                  type: boolean
                  default: false
                resources:
                  type: object
                  properties:
                    requests:
                      type: object
                      properties:
                        memory:
                          type: string
                        cpu:
                          type: string
                    limits:
                      type: object
                      properties:
                        memory:
                          type: string
                        cpu:
                          type: string
              required:
                - version
                - replicas
                - storageSize